<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!--
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		-->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<environments default="todo_id">
		<environment id="todo_id">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="org.sqlite.JDBC"/>
				<property name="url" value="jdbc:sqlite:./todo.db?date_string_format=yyyy-MM-dd HH:mm:ss"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="todo_mapper.xml"/>
	</mappers>
</configuration>
